body {
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */

.header-box {
    border: solid 1px red;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header-box img {
    height: 50px;
    width: 50px;
    margin: 8px;
}

/* Hero */

.hero-box {
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 1 auto;
    padding: 90px;
}

.hero-headline {
    margin-right: 50px;
}

.hero-image {
    width: 400px;
    height: auto;
}
/* Information */

.info-box {
    border: solid 1px red;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.info-content {
    border: solid 1px blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pic-text img {
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.pic-text{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/* Quote */

.quote-box {
    border: solid 1px red;
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* Sign up */

.sign-up-box {
    border: solid 1px red;
    display: flex;
    justify-content: center;
}

.container4_text {
    border: solid 1px red;
    background-color: #3882F6;
    display: flex;
    flex-direction: column;
}

/* Footer */

.footer {
    border: solid 1px red;
    display: flex;
    justify-content: center;
}

/* Styles */





ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    /* this makes items list items use the full box */
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    /* this removes the line under the links */
    text-decoration: none;
  }


.p-hero, 
.p-footer {
    color: #e5e7eb;
    font-size: 18px;
}

  img {
    width: 100%;
    height: auto;
    display: block;
  }

.header-box,
.hero-box,
.footer-box {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.hero-button,
.cta-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid 1px whitesmoke;
    border-radius: 4px;
}



